<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{48}:%L [%X{peerip}:%X{pbname}:%X{smid}] - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<!--系统日志 DEBUG级别日志 -->
	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<file>./rolling/app.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./rolling/backup/app-%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}:[%X{nid}]:[%thread] %-5level %logger{48} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="RollingFile"/> -->
	</root>

	<logger name="org.eclipse.jetty" level="info">
	</logger>
	<logger name ="org.apache" level="trace"/>
	<logger name ="org.apache.commons.httpclient" level="trace"/>
	<logger name ="httpclient.wire" level="trace"/>
	<logger name ="httpclient.wire.content" level="trace"/>
	<logger name="onight.osgi.otransio.ck" level="info">
	</logger>
	<logger name="onight.tfw.orouter.impl.QueueConsumer" level="info" />
	<logger name="org.eclipse.jetty" level="info" />
	<logger name="com.lambdaworks.redis.protocol" level="info">
	</logger>
	<logger name="com.lambdaworks.redis" level="info" />
	<logger name="onight.zippo.oparam.etcd" level="trace" />
		<logger name="mousio.etcd4j.transport" level="info" />
	<logger name="onight.osgi.otransio.impl.ModuleDiscovery" level="info" />
	<logger name="onight.osgi.otransio.nio" level="info">
	</logger>
	
	<logger name="com.github.mauricio.async,io.netty" level="info" />
	<logger name="com.datastax.driver.core" level="info">
	</logger>
</configuration>