<configuration scan="true" scanPeriod="5 seconds" >
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
 			<pattern>%d{HH:mm:ss.SSS}:[%X{BCUID}]:%-5level:%X{MessageID}:%logger{24}:%L:%X{MessageID}: %msg%n
			</pattern> 
		</encoder> 
	</appender>
	<!--系统日志 DEBUG级别日志 --> 
	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<file>./logs/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/backup/app-%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1000MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}:[%X{BCUID}]:%-5level:%X{MessageID}:%logger{24}:%L: %msg%n
			</pattern> 
		</encoder>
	</appender>
	<appender name="transio"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<file>./logs/transio.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/backup/transio-%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1024MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}:[%X{BCUID}]:%-5level:%X{MessageID}:%logger{24}:%L:%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="pzp"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<file>./logs/pzp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/backup/pzp-%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1024MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}:[%X{BCUID}]:%-5level:%X{MessageID}:%logger{24}:%L:%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="raft"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<file>./logs/raft.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/backup/raft-%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1024MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}:[%X{BCUID}]:%-5level:%X{MessageID}:%logger{24}:%L:%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="dpos"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<file>./logs/dpos.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/backup/dpos-%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1024MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}:[%X{BCUID}]:%-5level:%X{MessageID}:%logger{24}:%L:%msg%n</pattern>
		</encoder>
	</appender>
	<root level="error">  
		<!--  appender-ref ref="STDOUT" /-->
		<appender-ref ref="RollingFile" />
	</root> 

	<logger name="org.eclipse.jetty" level="info">
	</logger>
	<logger name="org.apache" level="trace" />
	<logger name="org.apache.commons.httpclient" level="trace" />
	<logger name="httpclient.wire" level="trace" />
	<logger name="httpclient.wire.content" level="trace" />

	<logger name="onight.tfw.orouter.impl.QueueConsumer" level="info" />
	<logger name="org.eclipse.jetty" level="info" /> 
	<logger name="com.lambdaworks.redis.protocol" level="info">
	</logger>
	<logger name="onight.zippo.oparam.etcd" level="trace" />  
	<logger name="mousio.etcd4j.transport" level="info" /> 
	<logger name="onight.tfw.ntrans.osgi" level="info" />
	<logger name="onight.tfw.servlet" level="info" />
	<logger name="onight.tfw.ojpa" level="info" />
	<logger name="onight.osgi.otransio.impl.ModuleDiscovery" level="info" />
	<logger name="onight.osgi.otransio.nio" level="debug" />
	<logger name="org.fc.brewchain.p22p.tasks.CheckingHealthy" level="debug" />
	<logger name="org.fc.brewchain.p22p.action.PZPHeatBeat,org.fc.brewchain.p22p.core.MessageSender" level="debug" />
	<logger name="org.fc.brewchain.p22p.node.Network,org.fc.brewchain.p22p.pbft.StateStorage,org.fc.brewchain.p22p.pbft.DMVotingNodeBits" level="debug" />
	<logger name="org.fc.brewchain.p22p.action.PZPHeatBeatService" level="debug" />
	<logger name="org.fc.brewchain.p22p.core.MessageSender" level="debug" />
	<logger name="com.github.mauricio.async,io.netty" level="debug" />
	<logger name="com.datastax.driver.core" level="info">
	</logger>
	<logger name="onight.osgi.otransio" level="debug">
		<appender-ref ref="transio" />
	</logger>
	<logger name="org.fc.brewchain.p22p" level="debug">
		<appender-ref ref="pzp" />
	</logger>
	<logger name="org.brewchain.raftnet" level="debug">
		<appender-ref ref="raft" />
	</logger>
	<logger name="org.brewchain.dposblk" level="debug">
		<appender-ref ref="dpos" />
	</logger>
	
</configuration> 
